<ion-header>
  <ion-toolbar>
    <ion-title>Compartir Invitacion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form class="visit-form">
    <mat-form-field class="visit-full-width">
      <input type="datetime" matInput placeholder="Fecha de Entrada" name="dateIn" readonly
        [ngModel]="visit.dateIn | date: 'M/d/yyyy h:mm a'">
    </mat-form-field>

    <mat-form-field class="visit-full-width">
      <input matInput placeholder="Nombre del Visitante" name="visitorName" [(ngModel)]="visit.visitorName" readonly>
    </mat-form-field>

    <mat-form-field class="visit-full-width">
      <input matInput placeholder="Numero de Identidad" name="idNumber" [(ngModel)]="visit.idNumber" readonly>
    </mat-form-field>

    <mat-form-field class="visit-full-width">
      <input matInput placeholder="Tipo de Visita" name="typeOfVisit" [(ngModel)]="visit.typeOfVisit" readonly>
    </mat-form-field>

    <div class="qr">
      <ngx-qrcode qrc-element-type="canvas" [qrc-value]="qrData" qrc-class="aclass" qrc-errorCorrectionLevel="L">
      </ngx-qrcode>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="footer-button-col">
        <ion-button color="success" (click)="share()">Compartir</ion-button>
      </ion-col>
      <ion-col class="footer-button-col">
        <ion-button (click)="cancel()">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-footer>

</ion-footer>