.visit-form {
    margin: 20px;
    min-width: 150px;   
    max-width: 500px;
  }
  
  .visit-full-width {
    width: 100%;
  }

  .footer-button-col {
    text-align: center;
}

.qr {
    text-align: center;
}