<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Visitante</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form class="visit-form">
    <ion-item>
      <ion-label>Fecha de Entrada</ion-label>
      <ion-datetime name="dateIn" displayFormat="DD/MMM/YYYY" pickerFormat="DD/MMM/YYYY" [(ngModel)]="visit.dateIn"
        placeholder="Seleccione Fecha"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-datetime name="timeIn" display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="visit.dateIn">
      </ion-datetime>
    </ion-item>

    <mat-form-field class="visit-full-width">
      <input matInput placeholder="Nombre del Visitante" name="visitorName" [(ngModel)]="visit.visitorName">
    </mat-form-field>

    <mat-form-field class="visit-full-width">
      <input matInput placeholder="Numero de Identidad" name="idNumber" [(ngModel)]="visit.idNumber">
    </mat-form-field>

    <mat-form-field class="visit-full-width">
      <mat-label>Tipo de Visita</mat-label>
      <mat-select name="typeOfVisit" [(ngModel)]="visit.typeOfVisit">
        <mat-option *ngFor="let type of typesOfVisit" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="visit-full-width">
      <textarea matInput placeholder="Nota" name="notes" [(ngModel)]="visit.notes"></textarea>
    </mat-form-field>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="footer-button-col">
        <ion-button color="success" (click)="createVisit()">Crear</ion-button>
      </ion-col>
      <ion-col class="footer-button-col">
        <ion-button (click)="cancel()">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>