<ion-header>
  <ion-toolbar>
    <ion-title>
      Visitas Programadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let visit of visits">
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-label>
        <h2>{{visit.visitorName}}</h2>
        <h3>#{{visit.idNumber}}</h3>
        <p>Entrada: {{visit.dateIn | date: 'MM/dd/yyyy'}} {{visit.dateIn | date: 'shortTime'}}</p>
        <ion-button (click)="share(visit)">
          <ion-icon name="share"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteVisit(visit.id)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>